<%- include('partials/_header') %>
<div style="text-align: center;"> 
  <h2>Login</h2>
  <div>
    <form method="POST" action="/urls_login">
      <div>
        <h5>Email Address</h5>
      </div>
      <input type="email" placeholder="email" name="email">
      <div>
        <h5>Password</h5>
      </div>
      <input type="password" placeholder="Password" name="password">
      <div><td><button type="submit" class="btn btn-primary">Login</button></td></div>
    </form>
  </div>
  </div>

  <script src="" async defer></script>
  </body>

  </html>