  <%- include('partials/_header') %>

    <div>
      <form  method="POST" action="/urls_register">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="Password" name="password">
        <td><button type="submit" class="btn btn-primary">Register</button></td>
      </form>
    </div>
    
    <script src="" async defer></script>
  </body>
</html>