<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="register" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div>
      <form  method="POST" action="/urls_register">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="Password" name="password">
        <td><button type="submit" class="btn btn-primary">Register</button></td>
      </form>
    </div>
    
    <script src="" async defer></script>
  </body>
</html>